
  body { 
    background: rgba(0, 0, 0, 0.8) url("../img/mdd.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:  darken;
    color: white;
   }

.qch{
  display: grid;
  justify-items: center;
  color: #ffffff;
  font-weight: 700;
  font-size: xx-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.j{
    display: grid;
    justify-items: center;
    -webkit-text-stroke: 0.6px rgb(196, 72, 72);
    color: transparent;
    font-weight: 900px;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }


/* .colu{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 350px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px ;
} */

.colu{
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.07 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 400px;
    margin-top: 100px;
    margin-left: 350px;
}

.colu2{
  background: rgba( 255, 255, 255, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.07 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 500px;
  height: 515px;
  margin-top: 3px;
  margin-left: 320px;
}



.contenido{
  font-size: 150;
  margin: 10px;
}




.lk{
  display: flex;
  justify-content: center;

}
